# Python & Virtual Environments
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# OS & Editor Junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data Files
First Dataset.xlsx